{% extends "vendas/base.html" %}

{% block navbar %}
    {% with menu as itens %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% load static %}

{% block titulo %}
    {{ produto.nome }}
{% endblock %}

{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-rounded img-responsive center-block"
                     style="min-height: 200px;"
                     src="{% static '/vendas/imagens/' %}{{ produto.imagem }}">
            </div>
            <div class="col-sm-9">
                <h2>{{ produto.nome }}</h2>
                <h3><a href="{{ produto.categoria.get_absolute_path }}">{{ produto.categoria.nome }}</a></h3>
                <p>R$ {{ produto.preco }}</p>
                <form class="form-inline" action="{% url "carrinho:adicionar_ao_carrinho" produto.id %}" method="post">
                    {{ form_adicionar_produto_carrinho }} {# *1 #}
                    {{ item.atualizar_quantidade_form.quantidade }}
                    {{ item.atualizar_quantidade_form.atualizar }}
                    {% csrf_token %} {# *2 #}
                    <input class="btn btn-primary btn-sm" type="submit" value="Atualizar">
{#                    <a class="btn btn-danger btn-sm" href="{% url 'carrinho:remover_do_carrinho' item.id %}">Remover</a>#}
                </form>
                <p>{{ produto.descricao }}</p>
            </div>
        </div>
    </div>
{% endblock %}
